[submodule "deps/plog"]
	path = deps/plog
	url = https://github.com/SergiusTheBest/plog.git
	shallow = true
[submodule "deps/usrsctp"]
	path = deps/usrsctp
	url = https://github.com/sctplab/usrsctp.git
	shallow = true
[submodule "deps/libjuice"]
	path = deps/libjuice
	url = https://github.com/paullouisageneau/libjuice.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "deps/libsrtp"]
	path = deps/libsrtp
	url = https://github.com/cisco/libsrtp.git
	shallow = true
[submodule "deps/optional"]
	path = deps/optional
	url = https://github.com/TartanLlama/optional.git
	shallow = true
[submodule "deps/string-view-lite"]
	path = deps/string-view-lite
	url = https://github.com/martinmoene/string-view-lite
[submodule "deps/variant-lite"]
	path = deps/variant-lite
	url = https://github.com/martinmoene/variant-lite
[submodule "deps/byte-lite"]
	path = deps/byte-lite
	url = https://github.com/martinmoene/byte-lite
